.details{
  width:100%;
  font-size:21px;
  font-family: 'Roboto', sans-serif;
}

.details .details-description{
  float:right;
  margin:32px;
  background:rgba(255,255,255,.2);
  border-radius: .25rem;
  width:900px;
}

.details .show-preview{
  margin:32px;
}

.details-titlebar{
  width:100%; height:75px;
  overflow:hidden;
}

.details-channel, .details-channel img{
  height:75px; width:75px;
  display:inline-block;
  float:left;
}

.details-title{
  height:80px; width:810px;
  padding-left:15px;
  line-height:80px;
  font-size: 1.5rem;
  color:white;
  background:black;
  float:left;
}

.details-info{
  padding:25px;
}

.details .details-info legend{
  font-size:24px;
  font-weight:bold;
}
