.details-column{
  float:left;
  margin:25px;
}

.details-poster{
  width:300px;
}

.details-cast{
  width:300px;
}

.details-preview{
  width:860px;
}

.details-preview .preview{
  width:860px;
}

.info{
  width:100%;
}
