.title{
  position:absolute;
  height:100px;
  width:1280px;
  margin:0;
  border-bottom:1px solid #333;
}

.title .title-cover{
  width:100%;
  height:100%;
  position:absolute;
  background-position: top center;
  background-size:cover;
  z-index:1;
}

.title .title-text{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  z-index:100;
  background:white;
  color:#333;
  font-size:50px;
  line-height:100px;
  font-family: 'Raleway', sans-serif;

  text-align:center;
}
