.show-card{
  position:relative;
  width:240px;
  height:176px;
  font-family: 'Raleway', sans-serif;
  margin:32px;
}

.show-card .show-preview{
  position:absolute;
  top:0px;left:0;
  width:240px;
  height:176px;
  z-index:0;
  background:black;
  box-shadow: 6px 7px 31px -1px rgba(0,0,0,0.75);
}

.show-description{
  position:absolute;
  top:176px;left:0;
  width:240px;
  height:64px;
  overflow:hidden;
  z-index:999;
  line-height:64px;
  font-size:20px;
  color:white;
}


.grid.active .grid-node.active .show-description, .show-preview:hover{
  color: red !important;
}
