.show-card{
  width:370px;
  margin:25px;
  cursor:pointer;
  border: 1px solid #ccc;
}

.show-card .preview{
  width:367px;
  height:200px;
}

.show-card img{
  width:250px;
  height:350px;
}

.show-card .card-title{
  text-align:center;
}
